nav {
    display: flex;
    height: 120px;
    background-color: #4056A1;
    color: #FFFFFF;
    padding-right: 1.5em;
    padding-left: 1.5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
