.new-tweet {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  padding-top: 10px;
  font-family: 'Bungee';
}

form > div > button {
  background-color:cornflowerblue;
}

#tweet-text {
  font-size: 80%;
}

textarea {
    background-color: #f4f1ec;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    height: 36px;
}
